<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>건물 관리 페이지</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/detailUnit.css"/>
</head>
<th:block th:replace="~{/layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div style="width:1221px">
            <div class="pageTitle">건물관리 / [[${unitDTO.groupAddr}]] [[${unitDTO.groupTitle}]] / [[${unitDTO.addr2}]]</div>
            <a th:if="${#lists.size(unitDTO.contractDTOList)}!=2" th:href="@{/contract/register(unitRowid=${unitDTO.unitRowid})}"
               style="float:right;line-height:25px;font-size:15px;padding:0px 10px;background-color:#7F7F7F;font-weight:bold;color:white;border-radius:3px">계약추가</a>
            <div style="display:flex;margin-top:40px">
                <div>
                    <div class="info" style="flex:1">
                        <div class="subTitle">호실 정보</div>
                        <div style="display:flex;justify-content:space-between;align-items:center">
                            <div style="font-size:11px;color:gray">현재 계약 기준에 의거한 정보입니다.</div>
                            <div style="display:flex">
                                <a th:href="@{/unit/edit(unitRowid=${unitDTO.unitRowid})}" class="btn">수정</a>
                                <a class="btn" href="javascript:unitRemove()" style="margin-left:8px">삭제</a>
                            </div>
                        </div>
                        <div class="infoInner" style="display:flex;margin-top:15px;padding:15px 5px">
                            <div class="ellipsis" style="padding:0 20px;font-weight:bold;width:70px;text-align:center">
                                101호
                            </div>
                            <div style="border-left:2px solid gray;padding:0 20px;min-width:fit-content">
                                <div th:if="${#lists.size(unitDTO.contractDTOList)}==0" style="font-size:12px">계약정보가 없습니다.</div>
                                <div th:unless="${#lists.size(unitDTO.contractDTOList)}==0">
                                    <div style="font-weight:bold">보증금</div>
                                    <div style="margin-top:10px">[[${unitDTO.contractDTOList[0].deposit}]]만원</div>
                                    <div style="display:flex;margin-top:30px">
                                        <div>
                                            <div style="font-weight:bold">월세/관라비</div>
                                            <div style="margin-top:10px">[[${unitDTO.contractDTOList[0].rentFee}]]만원/[[${unitDTO.contractDTOList[0].managementFees}]]만원</div>
                                        </div>
                                        <div style="margin-left:40px">
                                            <div style="font-weight:bold">납부일</div>
                                            <div style="margin-top:10px">매달 [[${unitDTO.contractDTOList[0].paymentDay}]]일</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="border-left:2px solid gray;padding:0 20px;width: 100px;text-align: center">
                                <div style="font-weight:bold">비고</div>
                                <div style="margin-top:10px">[[${unitDTO.memo}]]</div>
                            </div>
                        </div>
                        <!--옵션은 선택이라, 현재 진행되는 옵션에서는 옵션이 없을 수도 있다.-->
                        <div class="infoInner" style="margin-top:30px;line-height:25px;padding:0 8px">
                            <div th:if="${unitDTO.optionList.empty}" style="font-size:13px">옵션이 없습니다.</div>
                            <div th:unless="${unitDTO.optionList.empty}">
                                <div style="font-weight:bold;padding:5px 10px">[[${#lists.size(unitDTO.optionList)}]]개의 옵션</div>
                                <div th:each="option:${unitDTO.optionList}" style="border-top:2px solid gray;padding:5px 10px">[[${option}]]</div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:10px">
                        <a href="/group/list" style="color:gray;text-decoration:underline">건물 관리로 이동</a>
                        <a href="/unit/previousContract" style="color:gray;text-decoration:underline;float:right">이전 계약 내역 보기</a>
                    </div>
                </div>

                <div class="info" style="width:650px;text-align:center;margin-left:40px">
                    <div class="subTitle">계약정보</div>
                    <div th:if="${#lists.size(unitDTO.contractDTOList)}==0">계약정보가 없습니다.</div>
                    <ul th:unless="${#lists.size(unitDTO.contractDTOList)}==0">
                        <li class="contractList" th:each="contractDTO:${unitDTO.contractDTOList}">
                            <div style="display:flex;justify-content:flex-end;align-content:center;position:relative">
                                <div th:if="${unitDTO.contractDTOList[0].contractRowid}==${contractDTO.contractRowid}" style="position:absolute;left:5px;top:7px;font-size:11px;color:gray">계약정보는 2개만 표시됩니다.</div>
                                <a th:href="@{/contract/edit(contractRowid=${contractDTO.contractRowid})}" class="btn">수정</a>
                                <a class="btn" th:href="|javascript:contractRemove('${contractDTO.contractRowid}')|" style="margin-left:8px">삭제</a>
                            </div>
                            <div>
                                <div class="infoInner" style="display:flex;justify-content:space-between;position:relative;padding:15px 20px;margin-top:15px">
                                    <div style="text-align:left;position:relative">
                                        <div style="display:inline-block">계약일</div>
                                        <div style="display:inline-block;margin-left:10px;background-color:darkorange;color:white;padding:1px 4px;font-size:11px;line-height:15px;font-weight:bold;position:absolute">
                                            종료 D- [[${contractDTO.dDay}]]
                                        </div>
                                        <div style="font-size:12px;margin-top:7px">[[${contractDTO.startdate}]] ~ [[${contractDTO.enddate}]]</div>
                                    </div>
                                    <a href="javascript:immediatelyExpires()" style="position:absolute;right:20px;top:20px;line-height:25px;font-size:15px;
                                    padding:0px 10px;background-color:#7F7F7F;font-weight:bold;color:white;border-radius:3px">계약즉시만료</a>
                                </div>
                                <div style="display:flex;justify-content:space-between;margin-top:15px">
                                    <div class="infoInner" style="flex:3;text-align:left;height:fit-content;line-height:25px;padding:0 8px">
                                        <div style="position:relative">
                                            <div style="font-weight:bold;padding:5px 10px">[[${#lists.size(contractDTO.tenantDTOList)}]]명의 입주자</div>
                                            <a th:href="@{/car/register(contractRowid=${contractDTO.contractRowid})}" class="btn" style="position:absolute;padding:0 8px;top:4px;right:0">차량 추가</a>
                                        </div>

                                        <ul>
                                            <li th:each="tenantDTO:${contractDTO.tenantDTOList}" style="border-top:2px solid gray;padding:5px 15px 5px 10px;display:flex;align-items:center;justify-content:space-between">
                                                <div style="display:flex;align-items:center">
                                                    <span>[[${tenantDTO.title}]]</span>
                                                    <div th:if="${tenantDTO.isContractor==true}" style="margin-left:10px;background-color:#1dc078;color:white;padding:1px 4px;font-size:11px;line-height:15px;font-weight:bold;width:34px">
                                                        세대주
                                                    </div>
                                                </div>
                                                <div style="float:right;line-height:20px">[[${tenantDTO.phone}]]</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="infoInner" style="flex:1;margin-left:30px;height:fit-content;line-height:25px;padding:0 8px">
                                        <div style="font-weight:bold;padding:5px 10px;height:fit-content;font-size:14px" th:if="${#lists.size(contractDTO.carDTOList)}==0">차량이 없습니다.</div>
                                        <div style="font-weight:bold;padding:5px 10px;height:fit-content" th:unless="${#lists.size(contractDTO.carDTOList)}==0" th:text="${#lists.size(contractDTO.carDTOList)} + '개의 차량'"></div>
                                        <ul>
                                            <li th:each="carDTO:${contractDTO.carDTOList}" style="border-top:2px solid gray;padding:5px 10px">[[${carDTO.number}]]</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 모달 영역 -->
        <div id="modalBox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">SMS 전송하기</h4>
                    </div>
                    <div class="modal-body">
                        확인을 누르시면 SMS를 전송합니다.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="checkModalBtn">확인</button>
                        <button type="button" class="btn btn-default" id="closeModalBtn">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <form id="sms" action="/sms/send" method="get"></form>
        <script>
            // 모달 버튼에 이벤트를 건다.
            $('#notice').on('click', function(){
                $('#modalBox').modal('show');
            });
            // 모달 안의 취소 버튼에 이벤트를 건다.
            $('#closeModalBtn').on('click', function(){
                $('#modalBox').modal('hide');
            });
            // 모달 안의 확인 버튼에 이벤트를 건다.
            $('#checkModalBtn').on('click', function(){
                $('#sms').submit();
            });
        </script>
            <script th:inline="javascript">
                function unitRemove() {
                    let f = document.createElement('form');

                    let obj;
                    obj = document.createElement('input');
                    obj.setAttribute('type', 'hidden');
                    obj.setAttribute('name', 'unitRowid');
                    obj.setAttribute('value', [[${unitDTO.unitRowid}]]);

                    f.appendChild(obj);
                    f.setAttribute('method', 'post');
                    f.setAttribute('action', '/unit/remove');
                    document.body.appendChild(f);
                    f.submit();
                }

                function immediatelyExpires() {
                    alert("계약 즉시 만료는 준비중입니다.")
                }

                function contractRemove(contractRowid) {
                    let f = document.createElement('form');
                    f.setAttribute('method', 'post');
                    f.setAttribute('action', '/contract/remove');

                    let obj;
                    obj = document.createElement('input');
                    obj.setAttribute('type', 'hidden');
                    obj.setAttribute('name', 'contractRowid');
                    obj.setAttribute('value', contractRowid);
                    f.appendChild(obj);

                    document.body.appendChild(f);
                    f.submit();
                }
            </script>
    </th:block>
</th:block>