<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>호실 등록</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registerUnit.css"/>
</head>
<body>

<th:block th:replace="~{layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="pageTitle">건물관리 / [JS Vill] 호실등록</div>
        <form action="/unit/register" method="post">
            <div class="info">
                <label for="detailAddr" class="subTitle">호수</label>
                <input type="number" name="detailAddr" placeholder="ex) 101" id="detailAddr" class="check" style="width:98%;height:30px;border:none;background:#F6F6F6">
            </div>

            <div class="info">
                <label for="memo" class="subTitle">비고</label>
                <textarea name="memo" id="memo" placeholder="(선택사항)" style="width:98%;height:100px;border:none;background:#F6F6F6"></textarea>
            </div>

            <div style="margin-top:20px">
                <input type="hidden" name="groupRowid" th:value="${groupRowid}">
                <button type="reset" class="cancelBtn" onclick="history.back()">취소</button>
                <button type="button" class="registerBtn">등록</button>
            </div>
        </form>
        <script>
            const actionForm = $("form"); //form 태그 객체
            $(".registerBtn").click(function () {
                if($("input[name=detailAddr]").val()==="") window.alert('호수를 입력해주세요!')
                else actionForm.submit()
            });
        </script>
    </th:block>
</th:block>

</body>
</html>