<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
<head>
    <!--contents.html의 head태그가 렌더링 될 때, 자동으로 homeLayout.html head 태그에 추가 된다.(치환이 아니라 추가 된다.)-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="/css/common.css"/>
</head>

    <div class="container" style="display:flex;flex-direction:column;height:100vh">
<!--        <header th:replace="fragments/header :: headerFragment" style="flex:1"></header>-->
        <header th:include="fragments/header :: headerFragment" style="flex:1"></header>
        <div th:include="${content}" class="content" style="flex:18;display:flex;flex-direction:column"></div>
    </div>
</th:block>
</html>