# 이 파일은 Docker 컨텍스트에서 제외할 파일과 디렉토리 목록입니다.

# 버전 관리 시스템 폴더를 무시
.git
.gitignore

# 노드 모듈과 로그 파일 무시
node_modules/
npm-debug.log
yarn-error.log

# dist 폴더 무시
dist/

# build 폴더 내부의 모든 것을 무시하되, libs 폴더는 제외
build/*
!build/libs/

# 개인 설정 파일 및 로컬 개발 환경 설정 무시
.env.local
.env.development.local
.idea/
*.swp
*.swo
*~

# 기타 불필요한 파일
README.md
LICENSE
*.md
