<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/community.css"/>
    <title>커뮤니티</title>
</head>
<body>
<!--바뀔 수 있음-->
<th:block th:replace="~{/layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <div class="pageTitle">커뮤니티 / 공지사항</div>
        <div style="display:flex;justify-content:space-between;margin-top:20px;justify-content:flex-end">
            <a href="/community/register" class="btn">글쓰기</a>
        </div>

        <form action="/guestbook/list" method="get" id="searchForm" style="margin:15px 0 20px 0">
            <div class="input-group">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">
                    <select class="custom-select" name="type" style="border-top-right-radius:0;border-bottom-right-radius:0">
                        <option value="t" selected="true">제목</option>
                        <option value="c">내용</option>
                        <option value="w">작성자</option>
                        <option value="tc">제목 + 내용</option>
                        <option value="tcw">제목 + 내용 + 작성자</option>
                    </select>
                </div>

                <input class="form-control" name="keyword" style="margin-left:-1px;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0">
                <div style="display:flex;margin-left:1px" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search"
                            style="margin-left:-2px;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0">
                        Search
                    </button>
                    <button class="btn btn-outline-secondary btn-clear"
                            style="margin-left:-1px;border-top-left-radius:0;border-bottom-left-radius:0">Clear
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-striped" style="margin-top:12px">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">분류</th>
                <th scope="col">제목</th>
                <th scope="col" class="middle">등록일</th>
                <th scope="col" class="middle">조회</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">
                    <a href="/community/read">1</a>
                </th>
                <td>일반</td>
                <td>JS VIll 많이 써주세요 ^_^</td>
                <td class="middle">21.04.01 16:00</td>
                <td class="middle">4</td>
            </tr>

            <tr>
                <th scope="row">
                    <a>2</a>
                </th>
                <td>납부</td>
                <td>[필독] 공과금 인상 안내</td>
                <td class="middle">21.04.01 18:00</td>
                <td class="middle">2</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item">
                <a class="page-link" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
                <a class="page-link">1</a>
            </li>
            <li class="page-item">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link">Next</a>
            </li>
        </ul><!--추가되는 태그 끝-->


        <script th:inline="javascript">
            var msg = [[${msg}]];
            console.log(msg);

            if (msg) {
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");
            $('.btn-secondary').click(function (e) {
                searchForm.submit();
            })
            $('.btn-clear').click(function (e) {
                searchForm.empty().submit();
            })
        </script>

    </th:block>
</th:block>

</body>
</html>