<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/community.css"/>
    <title>커뮤니티 / 공지사항 / [[${dto.title}]]</title>
</head>
<body>

<th:block th:replace="~{layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <div class="pageTitle">커뮤니티 / 공지사항 / [[${dto.title}]]</div>
        <div style="display:flex;justify-content:space-between;margin-top:20px;justify-content:flex-end">
            <a href="/community/edit" class="btn">수정</a>
            <a href="/group/register" class="btn" style="margin-left:10px">삭제</a>
        </div>

        <div class="info" style="margin-top:20px;padding:15px 18px 18px 18px">
            <div style="line-height:25px">
                <div style="font-size:13px" th:text="${dto.type eq '1'}? '일반' : '납부'">[[${dto.type}]]</div>
                <div style="font-size:16px;font-weight:bold">[[${dto.title}]]</div>
                <div style="display:flex;font-size:13px">
                    <div>[[${dto.regdate}]]</div><div style="margin-left:25px">조회 [[${dto.readCnt}]]</div>
                </div>
            </div>
            <hr style="margin-top:20px">
            <div style="margin-top:20px;line-height:40px" th:utext="${dto.cont}">
            </div>
        </div>
        <div style="margin-top:20px">
            <a href="/community/community" style="text-decoration:underline;color:gray">커뮤니티 메인으로</a>
        </div>


    </th:block>
</th:block>

</body>
</html>