<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>건물 관리 페이지</title>
    <meta charset="UTF-8"/>
    <style>
        /*건물은 group임*/
        .groupDiv{display:flex;padding:10px 0;border:1px solid black;margin-top:10px}
        .groupDiv:nth-child(n+2){margin-top:20px}
    </style>
    <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/css/manage.css"/>
    <link rel="stylesheet" href="/vendor/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600">
    <link rel="stylesheet" href="/css/calendar.css">
</head>
<th:block th:replace="~{layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div th:text="${name}"></div>
        <div class="pageTitle">건물관리</div>

        <div style="display:flex;justify-content:space-between">
            <!--타임리프에 #을 써준 이유는 -> 정해진 함수를 사용하기 위함이다.-->
            <span style="line-height:25px"><span th:text="${#lists.size(result)}"></span>개의 건물</span>
            <a href="/group/register" style="float:right;line-height:25px;font-size:15px;padding:0px 10px;background-color:#7F7F7F;font-weight:bold">건물등록</a>
        </div>

        <div th:each="dto:${result}">
            <div class="groupDiv">
                <div style="flex:2;padding:0 30px">
                    <div style="padding:25px 0">
                        [[${dto.title}]][빌라]
                        <div style="float:right">
                            <form action="/group/remove" method="post">
                                <input type="hidden" name="groupRowid" th:value="${dto.groupRowid}">
                                <button formmethod="get" th:formaction="@{/group/edit}">수정</button>
                                <button>삭제</button>
                            </form>
                        </div>
                    </div>
                    <div style="border-top:1px solid black;padding:25px 0;line-height:30px">
                        지번 주소 - [[${dto.landAddr}]]<br/>
                        도로명 주소 - [[${dto.roadAddr}]]<br/>
                        준공년 - [[${dto.completionDate}]]
                    </div>
                    <div style="border-top:1px solid black;padding:25px 0;line-height:33px">
                        <div>[[${dto.totalTenantCnt}]]명의 입주자</div>
                        <div>보증금 합계 : [[${dto.totalDeposit}]]</div>
                        <div>월세 합계 : 매달 [[${dto.totalRentFee}]]만원</div>
                        <div>관리비 합계 매달 : [[${dto.totalManagementFees}]]만원</div>
                    </div>
                </div>
                <div style="flex:1.1;padding:0 40px 15px 40px;border-left:1px solid black;text-align:center">
                    <div style="position:relative;padding:15px 0 20px 0">
                        [[${#lists.size(dto.unitDTOList)}]]개의 호실
                        <a th:href="@{/unit/register(groupRowid=${dto.groupRowid})}" style="position:absolute;line-height:22px;font-size:12px;right:0px;top:13.5px;padding:0 6px;background-color:#7F7F7F;font-weight:bold">
                            호실등록
                        </a>
                    </div>
                    <div style="display:flex;flex-flow:row wrap;justify-content:space-between">
                        <a th:each="unit:${dto.unitDTOList}" th:href="@{/unit/read(unitRowid=${unit.unitRowid})}" class="unit">
                            [[${unit.detailAddr}]]
                        </a>
                    </div>
                </div>
            </div>

            <div class="container" style="width:100%;margin-top:40px">
                <div id="wrapper">
                    <div id="calendar"></div>
                </div>

                <!-- 일정 추가 MODAL -->
                <div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="edit-allDay">하루종일</label>
                                        <input class='allDayNewEvent' id="edit-allDay" type="checkbox" style="margin-bottom:10px"></label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="edit-title">일정명</label>
                                        <input class="inputModal" type="text" name="edit-title" id="edit-title"
                                               required="required" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="edit-start">시작</label>
                                        <input class="inputModal" type="text" name="edit-start" id="edit-start" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="edit-end">끝</label>
                                        <input class="inputModal" type="text" name="edit-end" id="edit-end" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="edit-repetition">반복</label>
                                        <select class="inputModal" name="edit-repetition" id="edit-repetition">
                                            <option value="notRepeat">반복 안함</option>
                                            <option value="everyMonth">매월</option>
                                            <option value="everyYear">매년</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="edit-repetition-end">반복 마감</label>
                                        <input class="inputModal" type="text" name="edit-repetition-end" id="edit-repetition-end" disabled/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="edit-color">색상</label>
                                        <select class="inputModal" name="edit-color" id="edit-color">
                                            <option value="#D25565" style="color:#D25565;">빨간색</option>
                                            <option value="#9775fa" style="color:#9775fa;">보라색</option>
                                            <option value="#ffa94d" style="color:#ffa94d;">주황색</option>
                                            <option value="#74c0fc" style="color:#74c0fc;">파란색</option>
                                            <option value="#f06595" style="color:#f06595;">핑크색</option>
                                            <option value="#63e6be" style="color:#63e6be;">연두색</option>
                                            <option value="#a9e34b" style="color:#a9e34b;">초록색</option>
                                            <option value="#4d638c" style="color:#4d638c;">남색</option>
                                            <option value="#495057" style="color:#495057;">검정색</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="edit-desc">설명</label>
                                        <textarea rows="4" cols="50" class="inputModal" name="edit-desc"
                                                  id="edit-desc"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer modalBtnContainer-addEvent">
                                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-primary" id="save-event">저장</button>
                            </div>
                            <div class="modal-footer modalBtnContainer-modifyEvent">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-danger" id="deleteEvent">삭제</button>
                                <button type="button" class="btn btn-primary" id="updateEvent">저장</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="modal fade" tabindex="-2" role="dialog" id="removeConfirmModal">
                    <div class="modal-dialog" role="document" style="margin-top: 170px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-delete-title"></h4>
                            </div>
                            <div class="modal-body">반복된 일정을 모두 삭제하시겠습니까?</div>
                            <div class="modal-footer modalBtnContainer-modifyEvent">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-danger" id="onlyDeleteEvent">해당 일정만 삭제</button>
                                <button type="button" class="btn btn-primary" id="AllDeleteEvent">반복 일정 모두 삭제</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <!-- /.container -->
        </div>

    </th:block>
</th:block>

<!--외부 jS 파일로 타임리프 변수 전달-->
<script type="text/javascript" th:inline="javascript">
    // 나중에 groupRowid를 선택한 값에 대해서 가져오도록 수정해야함 - sean 230514
    const groupRowid = $.parseJSON('[[ ${result[0].groupRowid} ]]');
</script>
<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/moment.min.js"></script>
<script src="/vendor/js/fullcalendar.min.js"></script>
<script src="/vendor/js/ko.js"></script>
<script src="/vendor/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/calendar/calendar.js"></script>
<script src="/js/calendar/addEvent.js"></script>
<script src="/js/calendar/editEvent.js"></script>
<script src="/js/calendar/etcSetting.js"></script>
