<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mobile.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>로그인</title>
</head>
<body>
    <h1>
        🔑 로그인
    </h1>
    <p class="loginGuide">
        최초 로그인 시에는 휴대폰번호 인증이 필요합니다.
    </p>
    <form th:action="@{/login_proc}" method="post">
        <input placeholder="휴대폰번호 ex) 010-1234-5678" name="phoneNumber" id="phoneField" class="phoneField"/>
        <input placeholder="핀번호 (4자리)" type="number" name="pinNumber" id="pinField" class="pinField"/>

        <button type="submit" class="submitButton" id="loginSubmitButton">
            <span class="submitButtonLabel">로그인</span>
        </button>
    </form>

    <a href="/member/signup/1">
        <div class="signupButton" id="signupButton">휴대폰번호 인증 (최초 1회)</div>
    </a>

    <a href="/member/signup/1">
        <div class="homeButton" id="homeButton">🏠 핀번호 찾기</div>
    </a>
</body>
</html>