<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mobile.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <title>휴대폰번호 인증</title>
</head>
<body>
    <h1>📱 휴대폰번호 인증 - 가입</h1>
    <p class="loginGuide">
        휴대폰번호를 인증해 주세요.<br>
        이미 등록된 휴대폰번호는 핀번호 찾기를 이용해주세요.
    </p>

    <form action="/member/phoneAuthNew" method="post">
        <input placeholder="휴대폰번호 ex) 010-1234-5678" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" name="phoneNumber" id="phoneNumber" class="phoneNumber" maxlength="13" oninput="oninputPhoneOrPassword(this, true)" required/>
        <button class="submitButton submitButtonLabel" id="phoneSubmitButton">인증번호 받기</button>
    </form>

    <a href="/member/phoneAuthOld" class="aButton homeButton">🅿 핀번호 찾기</a>
    <a href="/member/login" class="aButton homeButton">🏠 로그인 화면 돌아가기</a>

    <script th:inline="javascript">
        const phoneNumber = [[${phoneNumber}]];
        if(phoneNumber!=null) alert("중복된 폰 번호 입니다.\n휴대폰번호 : " + phoneNumber)
    </script>
    <script src="/js/member/memberInput.js"></script>
</body>
</html>

