<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사진 등록</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/photo.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>
        #att_zone{width:650px;padding:10px;border:1px dotted grey;min-height:130px}
        #att_zone:empty:before{content:attr(data-placeholder);color:#999;font-size:.9em}
    </style>
</head>
<body>

<th:block th:replace="~{layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content" style="712px !important">
        <div class="pageTitle">건물관리 / [[${data.groupTitle}]] / [[${data.unitTitle}]] / 사진 등록</div>
        <form id="form" action="/photo/register" method="post" enctype="multipart/form-data">
            <input type="hidden" name="contractRowid" th:value="${data.contractRowid}">

            <div class="info">
                <div class="subTitle">사진 업로드</div>
                <input type='file' id='btnAtt' name="files" multiple="multiple" accept=".png, .jpeg" style="padding-left:0"/>
                <div id='att_zone' data-placeholder='파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그앤드롭 하세요'></div>
            </div>

            <div class="info" id="info">
                <div class="subTitle">기존 사진</div>
                <div th:if="${#lists.size(data.photoDTOList)}==0" style="font-weight:bold;padding:5px 0;height:fit-content;font-size:14px">기존 사진이 없습니다.</div>
                <div style="font-weight:bold;padding:5px 0;height:fit-content" th:unless="${#lists.size(data.photoDTOList)}==0" th:text="${#lists.size(data.photoDTOList)} + '개의 사진'"></div>
                <a th:each="photoDTO:${data.photoDTOList}" th:href="${photoDTO.fileUrl}" target="_blank">
                    <div style="display:inline-block;position:relative">
                        <img th:src="${photoDTO.fileUrl}" alt="photo" width="200px" height="200px" style="padding:10px">
                        <img th:if="${photoDTO.bookmark}" th:data-bookmark="${!photoDTO.bookmark}" th:data-photoRowid="${photoDTO.photoRowid}" class="bookmark" src="/image/photo/fill-bookmark.png" alt="bookmark" style="position:absolute;top:9px;right:6px;width:50px">
                        <img th:unless="${photoDTO.bookmark}" th:data-bookmark="${!photoDTO.bookmark}" th:data-photoRowid="${photoDTO.photoRowid}" class="bookmark" src="/image/photo/empty-bookmark.png" alt="bookmark" style="position:absolute;top:9px;right:6px;width:50px">
                        <img src="/image/photo/remove.png" class="removePhoto" alt="removePhoto" th:data-fileKey="${photoDTO.fileKey}" style="position:absolute;bottom:16px;right:15px;width:20px">
                    </div>
                </a>
            </div>

            <div style="margin:30px 0 40px 0;float:right">
                <button type="button" onclick="history.back()" class="cancelBtn">취소</button>
                <button class="registerBtn">등록</button>
            </div>
        </form>
    </th:block>
</th:block>
<script>
    let postFiles = [];
    ( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
        imageView = function imageView(att_zone, btn){

            let attZone = document.getElementById(att_zone);
            let btnAtt = document.getElementById(btn)

            // 이미지와 체크 박스를 감싸고 있는 div 속성
            let div_style = 'display:inline-block;position:relative;width:200px;height:200px;margin:5px;border:1px dotted grey;z-index:1';
            // 미리보기 이미지 속성
            let img_style = 'width:100%;height:100%;z-index:none';
            let bookmark_img_style = 'position:absolute;width:40px;top:0px;right:-2px;cursor:pointer';
            // 이미지안에 표시되는 체크박스의 속성
            let remove_img_style = 'position:absolute;width:25px;right:2px;bottom:3px;cursor:pointer';

            btnAtt.onchange = function(e){
                let files = e.target.files;
                let fileArr = Array.prototype.slice.call(files);
                for(f of fileArr) imageLoader(f);
            }

            // 탐색기에서 드래그앤 드롭 사용
            attZone.addEventListener('dragenter', function(e){
                e.preventDefault();
                e.stopPropagation();
            }, false)

            attZone.addEventListener('dragover', function(e){
                e.preventDefault();
                e.stopPropagation();
            }, false)

            attZone.addEventListener('drop', function(e){
                let files;
                e.preventDefault();
                e.stopPropagation();
                let dt = e.dataTransfer;
                files = dt.files;
                for(f of files) imageLoader(f);
            }, false)

            /*첨부된 이미지들을 배열에 넣고 미리보기 */
            imageLoader = function(file){
                //이때에 bookmark 설정도 같이 넣어줘야함
                postFiles.push({
                    file: file,
                    bookmark: false // 파일과 관련된 추가 정보를 포함하여 push
                });

                let reader = new FileReader();
                reader.onload = function(ee){
                    let img = document.createElement('img')
                    img.setAttribute('style', img_style)
                    img.src = ee.target.result;
                    attZone.appendChild(makeDiv(img, file));
                }
                reader.readAsDataURL(file);
            }

            /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
            makeDiv = function(img, file){
                let div = document.createElement('div')
                div.setAttribute('style', div_style)

                const bookMarkImage = document.createElement("img");
                bookMarkImage.src = "/image/photo/empty-bookmark.png";
                bookMarkImage.alt = "bookmark";
                bookMarkImage.setAttribute('style', bookmark_img_style)
                bookMarkImage.setAttribute('isBookMark', "0");
                bookMarkImage.onclick = function(ev){
                    let ele = ev.srcElement;
                    let idx;
                    for(let i=0 ;i<postFiles.length; i++){
                        if(file.name===postFiles[i].file.name){
                            idx = i
                        }
                    }
                    let isBookMark = ele.getAttribute('isBookMark');
                    if(isBookMark==="1") {
                        postFiles[idx].bookmark = false
                        bookMarkImage.src = "/image/photo/empty-bookmark.png";
                        bookMarkImage.setAttribute('isBookMark', "0");
                    }
                    else {
                        postFiles[idx].bookmark = true
                        bookMarkImage.src = "/image/photo/fill-bookmark.png";
                        bookMarkImage.setAttribute('isBookMark', "1");
                    }
                }

                const removePhoto = document.createElement("img");
                removePhoto.src = "/image/photo/remove.png";
                removePhoto.alt = "remove";
                removePhoto.setAttribute('style', remove_img_style)
                removePhoto.onclick = function(ev){
                    let ele = ev.target;
                    for(let i=0 ;i<postFiles.length; i++){
                        if(file.name===postFiles[i].file.name){
                            postFiles.splice(i, 1);
                        }
                    }
                    dt = new DataTransfer();
                    for(f in postFiles) {
                        let file = postFiles[f].file;
                        dt.items.add(file);
                    }
                    btnAtt.files = dt.files;
                    let p = ele.parentNode;
                    attZone.removeChild(p)
                }
                div.appendChild(img)
                div.appendChild(bookMarkImage)
                div.appendChild(removePhoto)
                return div
            }
        }
    )('att_zone', 'btnAtt')

    $('#form').submit(function (e) {
        e.preventDefault(); // 기본 폼 제출 동작을 막음
        let form = $(this);
        let formData = new FormData(form[0]);
        for (let i = 0; i < postFiles.length; i++) {
            formData.append('uploadFiles', postFiles[i].file);
            formData.append('bookMarks', postFiles[i].bookmark);
        }
        $.ajax({
            url : "/photo/register",
            data : formData,
            type : 'POST',
            enctype : 'multipart/form-data',
            processData : false,
            contentType : false,
            dataType : 'text',
            cache : false,
            success: function (response) {
                // 성공적으로 처리된 경우
                console.log('서버 응답:', response);
                location.reload();
            },
            error: function (xhr, status, error) {
                // 오류가 발생한 경우
                console.error('오류:', error);
                location.reload();
            }
        });
    })
    $('.bookmark').click(function(e) {
        //필요한것 - bookmark, photoRowid
        e.preventDefault();
        e.stopPropagation();

        const bookmark = $(this).attr('data-bookmark');
        const photoRowid = $(this).attr('data-photoRowid');

        $.ajax({
            url: "/photo/bookmark",
            type: "POST",
            data : {
                "photoRowid": photoRowid,
                "bookmark": bookmark
            },
            success: function(response) {
                // 서버로부터 받은 응답을 처리
                console.log("서버로부터의 응답: ", response);
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error("북마크 중 오류가 발생했습니다:", error);
                location.reload();
            }
        });
    });

    $('.removePhoto').click(function(e) {
        //필요한것 fileKey
        e.preventDefault();
        e.stopPropagation();

        const fileKey = $(this).attr('data-fileKey');
        if (confirm("파일을 삭제하시겠습니까?")) {
            $.ajax({
                url: "/photo/delete",
                type: "POST",
                data : {"fileKey": fileKey},
                success: function(response) {
                    // 서버로부터 받은 응답을 처리
                    console.log("서버로부터의 응답: ", response);
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error("파일 삭제 중 오류가 발생했습니다:", error);
                    location.reload();
                }
            });
        }
    });
</script>
</body>
</html>