<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>호실 등록</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registerUnit.css"/>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
</head>
<body>

<th:block th:replace="~{/layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="pageTitle">건물관리 / [JS Vill] 호실등록</div>
        <form action="/groupManagement/unit/register" method="post">
            <div class="info">
                <div class="subTitle">호수</div>
                <div>
                    <input type="text" name="addr2" style="width:100%;height:30px;border:none;background:#F6F6F6">
                </div>
            </div>

            <div class="info">
                <div class="subTitle">
                    보증금/월세/관리비
                </div>
                <div style="display: flex">
                    <div style="flex:2">
                        보증금
                        <div style="margin-top:10px">
                            <input type="text" name="deposit" placeholder="0" style="width:20%;height:30px;border:none;background:#F6F6F6;padding-left:10px">
                            <span style="margin-left:5px">만원</span>
                        </div>
                    </div>
                </div>


                <div style="display:flex;margin-top:20px">
                    <div style="display:flex; flex:2">
                        <div style="flex:1;width:100%">
                            월세
                            <div style="margin-top:10px">
                                <input type="text" name="rentfee" placeholder="0" style="width:20%;height:30px;border:none;background:#F6F6F6;padding-left:10px">
                                <span style="margin-left:5px">만원</span>
                            </div>
                        </div>
                        <div style="flex:2;width:100%">
                            관리비
                            <div style="margin-top:10px">
                                <input type="text" name="managementfees" placeholder="0" style="width:20%;height:30px;border:none;background:#F6F6F6;padding-left:10px">
                                <span style="margin-left:5px">만원</span>
                            </div>
                        </div>
                    </div>
                    <div style="flex:1;width:100%">
                        월세/관리비/납부일
                        <div style="margin-top:10px">
                            매달<input type="text" name="paymentday" placeholder="1" style="width:20%;height:30px;margin:0 4px 0 10px;border:none;background:#F6F6F6;padding-left:10px">일
                        </div>
                    </div>
                </div>
            </div>



            <div class="info">
                <div class="subTitle">비고</div>
                <div>
                    <textarea name="memo" style="width:100%;height:100px;border:none;background:#F6F6F6"></textarea>
                </div>
            </div>

            <div style="margin-top:20px">
                <button type="button" onclick="history.back()" class="cancelBtn">취소</button>
                <button type="submit" class="registerBtn">등록</button>
            </div>
        </form>
    </th:block>
</th:block>
<!--<script>-->
<!--    $.datepicker.setDefaults({-->
<!--        closeText: "닫기",-->
<!--        prevText: "이전달",-->
<!--        nextText: "다음달",-->
<!--        currentText: "오늘",-->
<!--        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월",-->
<!--            "7월", "8월", "9월", "10월", "11월", "12월"-->
<!--        ],-->
<!--        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월",-->
<!--            "7월", "8월", "9월", "10월", "11월", "12월"-->
<!--        ],-->
<!--        dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],-->
<!--        dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],-->
<!--        dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],-->
<!--        weekHeader: "주",-->
<!--        dateFormat: "yy년 m월 d일",-->
<!--        firstDay: 0,-->
<!--        isRTL: false,-->
<!--        showMonthAfterYear: true,-->
<!--        yearSuffix: "년"-->
<!--    })-->
<!--    $("#datepicker").datepicker({-->
<!--        minDate: 0,-->
<!--        /* to use in wix */-->
<!--        onSelect: function (selected, event) {-->
<!--            console.log(selected);-->
<!--            /*-->
<!--             * wix-send-messages from html component-->
<!--             * https://support.wix.com/en/article/working-with-the-html-component-in-wix-code-->
<!--             */-->
<!--            window.parent.postMessage(selected, "*");-->
<!--        }-->
<!--    })-->
<!--</script>-->
</body>
</html>