<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/mobile.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <title>로그인</title>
</head>
<body>
  <div class="infoBtnGrp">
    <button class="infoBtn">1</button>
    <button class="infoBtn">2</button>
    <button class="infoBtn">3</button>
  </div>
  <h1>
    입주 시 준비물
  </h1>
  <div>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>6</p>
    <p>7</p>
    <p>8</p>
    <p>9</p>
    <p>10</p>
  </div>

  <button class="submitButton" id="loginSubmitButton">
    <span class="submitButtonLabel">다음</span>
  </button>


</body>
</html>