<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navFragment">
    <link rel="stylesheet" href="/css/nav.css" />
    <dl>
        <dt>건물 관리</dt>
        <dd>
            <ul style="line-height:25px;list-style:inside">
                <li><a href="/group/list">건물</a></li>
                <li><a href="/unit">입주자</a></li>
            </ul>
        </dd>
        <dt><a href="/community/community">커뮤니티</a></dt>
        <dt>주차 관리</dt>
        <dt>공과금 관리</dt>
        <dt>빌라 달력</dt>
    </dl>
</nav>
</html>