.header {display: flex;position: relative;}
.header a:link {color: #23c17a;text-decoration: none}
.header a:visited {color: #23c17a;text-decoration: none}
.header a:hover {color: #23c17a;text-decoration: none}