nav {
    float: left;
    width: 15%;
    height: 100%;
    background: #1dc078;
    color: white;
    font-size: 17px;
    font-weight: bold
}

nav dl dt {
    margin-top: 30px;
}

nav dl dd {
    margin: 0px;
}

nav dl dd ul li {
    font-size: 15px;
    margin-top: 3px;
}