nav {float:left;width:160px;height:100%;background:#1dc078;color:white;font-size:21px;font-weight:bold}
nav dl {padding-left:25px}
nav dl dt {margin-top:40px}
nav dl dd {margin:3px 0 0 5px}
nav dl dd ul li {font-size:13px}
nav a:link {color:white}
nav a:hover {color:white}
nav a:visited {color:white}
