.content {width:650px !important}
.content .pageTitle {color:#1dc078;font-weight:bold;font-size:20px}
.content input {border:none;height:30px}
.content input:focus {outline:none}
.content .input-container input {border:none;box-sizing:border-box;outline:0;padding:.75rem;position:relative;width:100%}
.content .info {position:relative;margin-top:40px;border:2px solid gray;padding:27px 18px 18px 18px;border-radius:8px}
.content .info .subTitle {position:absolute;padding:0 15px;top:-7px;background-color:white;font-size:16px;font-weight:bold}
.content textarea {width:81.5%;height:50px;border:none;background-color:#f6f6f6}
.content .cancelBtn {padding:6px 20px;border:1px solid lightgray;font-size:14px;font-weight:bold;color:gray;background-color:white}
.content .cancelBtn:active{color:black}
.content .registerBtn {padding:6px 20px;border:1px solid rgb(29, 192, 120);font-size:14px;color:white;background-color:rgb(29, 192, 120);margin-left:7px;font-weight:bold}


.contractType {
    display:flex;align-items:center;margin-top:10px
}
.contractType>input:not(:first-child) {margin-left:30px}