<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/includeNavLayout}"
>
<head>
    <title>건물 관리 페이지</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/manageBuilding.css"/>
    <script>
        // let menu1 = document.getElementById("menu1");
        // menu1.addEventListener("click", function(){
        //   console.log('menu1');
        // })
        // let search = document.getElementById("search");
        // search.addEventListener("click", function(){
        //   let keyword = document.getElementById("keyword").value
        //   alert(keyword);
        // })

    </script>
    <!--<style>-->
    <!--    .btn {cursor:pointer;}-->
    <!--</style>-->
    <!--<img src="경로" alt="" class="btn" onclick="clickBtn(); />-->
</head>
<div layout:fragment="content" class="content">
    <div th:text="${name}"></div>
    <h3 style="margin-bottom:10px">건물관리</h3>
    <div style="display:flex;justify-content:space-between">
        <span style="line-height:25px">2개의 건물</span>
        <a href="registerBuilding"  style="float:right;line-height:25px;font-size:15px;padding:0px 10px;background-color:#7F7F7F;font-weight:bold">
            건물등록
        </a>
    </div>
    <div>
        <div style="display:flex;padding:10px 0;border:1px solid black;margin-top:10px">
            <div style="flex:3;padding:0 30px">
                <div style="padding:20px 0">
                    도화동 스테이트빌[빌라]
                    <div style="float:right">
                        <button>수정</button>
                        <button>삭제</button>
                    </div>
                </div>
                <div style="border-top:1px solid black;padding:20px 0">
                    서울 강서구 가로 공원로 173 / 07718 <br> <br>
                    재개발 대상
                </div>
                <div style="border-top:1px solid black;padding:20px 0;line-height:33px">
                    <div>7명의 입주자</div>
                    <div>보증금 합계 : 3억 5000만원</div>
                    <div>월세 합계 : 매달 300만원</div>
                    <div>관리비 합계 매달 : 50만원</div>
                </div>
            </div>
            <div style="flex:2;padding:0 30px;border-left:1px solid black;text-align:center">
                <div style="padding:20px 0">6개의 호실</div>
                <div style="display:flex;flex-flow:column wrap;height:265px;align-content:space-around">
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        101호
                    </div>
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        102호
                    </div>
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        103호
                    </div>
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        201호
                    </div>
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        202호
                    </div>
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        203호
                    </div>
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        301호
                    </div>
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        302호
                    </div>
                    <div style="background-color:#1dc078;font-size:16px;color:white;margin-top:10px;text-align:center;width:100px;height:35px;line-height:35px;font-weight:bold">
                        401호
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</html>
