<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>건물 관리 페이지</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/manage.css"/>
</head>
<th:block th:replace="~{/layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div th:text="${name}"></div>
        <div class="pageTitle">건물관리</div>
        <div style="display:flex;justify-content:space-between">
            <span style="line-height:25px">1개의 건물</span>
            <a href="/groupManagement/group/register"
               style="float:right;line-height:25px;font-size:15px;padding:0px 10px;background-color:#7F7F7F;font-weight:bold">
                건물등록
            </a>
        </div>

        <div style="display:flex;padding:10px 0;border:1px solid black;margin-top:10px">
            <div style="flex:2;padding:0 30px">
                <div style="padding:25px 0">
                    명일동 제이에스빌[빌라]
                    <div style="float:right">
                        <button>수정</button>
                        <button>삭제</button>
                    </div>
                </div>
                <div style="border-top:1px solid black;padding:25px 0">
                    서울 강동구 명일동 173번지<br><br>
                    준공년 - 2020년 12월
                </div>
                <div style="border-top:1px solid black;padding:25px 0;line-height:33px">
                    <div>15명의 입주자</div>
                    <div>보증금 합계 : 18억 5000만원</div>
                    <div>월세 합계 : 매달 0만원</div>
                    <div>관리비 합계 매달 : 50만원</div>
                </div>
            </div>
            <div style="flex:1.1;padding:0 40px 15px 40px;border-left:1px solid black;text-align:center">
                <div style="position:relative;padding:15px 0 20px 0">
                    6개의 호실
                    <a href="/groupManagement/unit/register"
                       style="position:absolute;line-height:22px;font-size:12px;right:0px;top:13.5px;padding:0 6px;background-color:#7F7F7F;font-weight:bold">
                        호실등록
                    </a>
                </div>
                <div style="display:flex;flex-flow:row wrap;justify-content:space-between">
                    <a th:href="@{/groupManagement/unit/detail(uno = 1)}" class="unit">
                        101호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        102호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        103호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        201호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        202호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        203호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        301호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        302호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        401호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        402호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        501호
                    </a>
                    <a th:href="@{/unit/detail(uno = 1)}" class="unit">
                        502호
                    </a>
                </div>
            </div>
        </div>

    </th:block>
</th:block>

