<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/community.css"/>
    <title>커뮤니티</title>
</head>
<body>
<!--바뀔 수 있음-->
<th:block th:replace="~{/layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <div class="pageTitle">건물관리 / 입주자 리스트</div>
        <div style="margin-top:40px">
            6명의 입주자
        </div>

        <form action="/guestbook/list" method="get" id="searchForm" style="margin:15px 0 20px 0">
            <div class="input-group" style="align-items: center;justify-content: space-between;">
                <input type="hidden" name="page" value="1">
                <div style="display: flex;align-items: center">
                <span style="font-size:16px">건물</span>
                <div class="input-group-prepend" style="margin-left:10px">
                    <select class="custom-select" name="type" style="border-top-right-radius:0;border-bottom-right-radius:0">
                        <option value="t" selected="true">전체</option>
                        <option value="c">JSVILL</option>
                        <option value="w">지민VILL</option>
                        <option value="tc">성현VILL</option>
                    </select>
                </div>

                <span style="font-size:16px;margin-left:25px">호수</span>
                <div class="input-group-prepend" style="margin-left:10px">
                    <select class="custom-select" name="type" style="border-top-right-radius:0;border-bottom-right-radius:0">
                        <option value="t" selected="true">전체</option>
                        <option value="c">101호</option>
                        <option value="w">102호</option>
                    </select>
                </div>
                </div>

                <div style="display: flex;align-items: center">
                <span style="font-size:16px">정렬</span>
                <div class="input-group-prepend" style="margin-left:10px">
                    <select class="custom-select" name="type" style="border-top-right-radius:0;border-bottom-right-radius:0">
                        <option value="t" selected="true">건물/호수 오름차순</option>
                        <option value="c">건물/호수 오름차순</option>
                        <option value="w">내맘대로순</option>
                        <option value="tc">커밍순</option>
                    </select>
                </div>
                </div>
            </div>
        </form>

        <table class="table table-striped" style="margin-top:12px">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">연락처</th>
                <th scope="col">건물/호수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" style="position:relative">
                    강성현 <div style="margin-left:10px;background-color:#1dc078;color:white;padding:1px 4px;font-size:11px;line-height:15px;font-weight:bold;position:absolute;top:13px;left:55px">세대주</div>
                </th>
                <td>010-6456-3557</td>
                <td>도화동 스테이트빌 / 101호</td>
            </tr>
            <tr>
                <th scope="row" style="position:relative">
                    강딸
                </th>
                <td>010-1111-2222</td>
                <td>도화동 스테이트빌 / 101호</td>
            </tr>

            <tr>
                <th scope="row" style="position:relative">
                    김선우 <div style="margin-left:10px;background-color:#1dc078;color:white;padding:1px 4px;font-size:11px;line-height:15px;font-weight:bold;position:absolute;top:13px;left:55px">세대주</div>
                </th>
                <td>010-5007-0615</td>
                <td>명일동 JSVILL / 502호</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item">
                <a class="page-link" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
                <a class="page-link">1</a>
            </li>
            <li class="page-item">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link">Next</a>
            </li>
        </ul><!--추가되는 태그 끝-->


        <script th:inline="javascript">
            var msg = [[${msg}]];
            console.log(msg);

            if (msg) {
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");
            $('.btn-secondary').click(function (e) {
                searchForm.submit();
            })
            $('.btn-clear').click(function (e) {
                searchForm.empty().submit();
            })
        </script>

    </th:block>
</th:block>

</body>
</html>