

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <title>호실등록</title>
    <style>
        html, body {
            margin: 0;
            height: 100%;
            width: 940px;
        }
        nav {
            float: left;
        }
        nav dl dt {
            margin-top: 30px;
        }
        nav dl dd {
            margin: 0px;
        }
        nav dl dd ul li {
            font-size: 11px;
            margin-top: 3px;
        }
        section {
            float: right;
        }


    </style>
</head>
<body>
<!--바뀔 수 있음-->

<header style="margin-top:15px;width:100%;height:50px;">
    <div style="display:inline-block;padding-left:30px;color:#1dc078;font-weight:bold;font-size:30px;">
        JS Vill
    </div>
    <img style="float: right" src="../image/headerIcon2.png">
    <img style="float: right" src="../image/headerIcon1.png">
    <div style="display:inline-block;float:right;width:300px;height:40px;background:#C2F6DE;">
        <img style="float: right" src="../image/headerIcon0.png">
    </div>
</header>

<nav style="width:20%;height:100%;background:#1dc078;">
    <dl style="padding-left:20px;margin:0;list-style:none;color:white;">
        <dt>건물 관리</dt>
        <dd>
            <ul style="    padding: 0px 19px;    margin: 2px;">
                <li>건물</li>
                <li>입주자</li>
            </ul>
        </dd>
        <dt>커뮤니티</dt>
        <dt>주차 관리</dt>
        <dt>공과금 관리</dt>
        <dt>빌라 달력</dt>
    </dl>
</nav>

<section style="width:75%;height:100%;padding:10px 0;">
    <div style="font-size:18px;color:#1dc078;font-weight:bold;">커뮤니티</div>

    <div style="margin-top: 30px;">
        <span>공지사항</span>
        <button style="margin-left:15px;padding:3px 15px;border:1px solid #1DC078;outline: 0;background: #1DC078;color: white; float: right;">글쓰기</button>
    </div>
    <div>
        <table style="margin-top:10px;width: 100%;height: 4cm;border-collapse : collapse;">
            <tr style="border:1px solid black" >
                <td border="1px"align="center" width="10%"><strong>번호</strong></td>
                <td align="left" width="10%"><strong>분류</strong></td>
                <td align="left" width="70%"><strong>제목</strong></td>
                <td align="left" width="10%"><strong>등록일</strong></td>
            </tr>
            <tr style="border:1px solid black" >
                <td align="center">3</td>
                <td align="left">납부</td>
                <td align="left" >[필독] 공과금 미납자 다 죽인다.</td>
                <td align="left">21/04/02</td>
            </tr>
            <tr style="border:1px solid black" >
                <td align="center">2</td>
                <td align="left">일반</td>
                <td align="left">월세 인상 안내</td>
                <td align="left">21/04/02</td>
            </tr>
            <tr style="border:1px solid black" >
                <td align="center">1</td>
                <td align="left">일반</td>
                <td align="left">JS Vill많이 써주세요^~^</td>
                <td align="left">21/04/01</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>