

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <title>호실등록</title>
    <style>
        html, body {
            margin: 0;
            height: 100%;
            width: 940px;
        }
        nav {
            float: left;
        }
        nav dl dt {
            margin-top: 30px;
        }
        nav dl dd {
            margin: 0px;
        }
        nav dl dd ul li {
            font-size: 11px;
            margin-top: 3px;
        }
        section {
            float: right;
        }


    </style>
</head>
<body>


<header style="margin-top:15px;width:100%;height:50px;">
    <div style="display:inline-block;padding-left:30px;color:#1dc078;font-weight:bold;font-size:30px;">
        JS Vill
    </div>
    <img style="float: right" src="../static/image/headerIcon2.png">
    <img style="float: right" src="../static/image/headerIcon1.png">
    <div style="display:inline-block;float:right;width:300px;height:40px;background:#C2F6DE;">
        <img style="float: right" src="../static/image/headerIcon0.png">
    </div>
</header>

<nav style="width:20%;height:100%;background:#1dc078;">
    <dl style="padding-left:20px;margin:0;list-style:none;color:white;">
        <dt>건물 관리</dt>
        <dd>
            <ul style="    padding: 0px 19px;    margin: 2px;">
                <li>건물</li>
                <li>입주자</li>
            </ul>
        </dd>
        <dt>커뮤니티</dt>
        <dt>주차 관리</dt>
        <dt>공과금 관리</dt>
        <dt>빌라 달력</dt>
    </dl>
</nav>

<section style="width:75%;height:100%;padding:10px 0;">
    <div style="font-size:18px;color:#1dc078;font-weight:bold;">커뮤니티</div>

    <div style="margin-top: 30px;">
        <span>커뮤니티/ 글쓰기</span>
    </div>

    <div style="display: flex; margin-top: 20px;">
        <div style="flex:3;">
            제목 : <input style="width:80%">
        </div>
        <div style="float: right;">
            분류
            <select style="margin-left:5px;width:80px;height:22px;">
                <option >일반</option>
                <option >납부</option>
            </select>
        </div>
    </div>

    <div style="margin-top: 30px;">
        <div>내용</div>
        <textarea style="margin-top:10px;width:94%;padding:20px;height:500px;">

        </textarea>
    </div>

</section>
</body>
</html>