<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>계약 등록</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registerContract.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<th:block th:replace="~{/layouts/includeNavLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="pageTitle">건물관리 / [[${result.groupTitle}]] / [[${result.addr2}]] / 계약 등록</div>
        <form action="/contract/register" method="post" onsubmit="return submitValiCheck()">
            <div class="info">
                <div class="subTitle">
                    계약일
                </div>
                <div style="display:flex;align-items:center;text-align: center;">
                    <div style="flex:1">
                        계약 시작일
                        <div class="wrapper" style="margin-top:10px">
                            <input type="date" name="startdate" required style="border:1px solid black;border-radius:8px">
                        </div>
                    </div>
                    <div style="flex:0.5;text-align: center;font-size: 25px;">~</div>
                    <div style="flex:1">
                        계약 만료일
                        <div class="wrapper" style="margin-top:10px">
                            <input type="date" name="enddate" required style="border:1px solid black;border-radius:8px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="subTitle">
                    입주자
                </div>
                <div style="display:flex;align-items: center;justify-content: space-between">
                    <div style="width:82%;display:flex;align-items:center">
                        <input type="text" class="tenantTitle" name="tenantDTOList[0].title" placeholder="이름 또는 별명 입력"  required style="background:#F6F6F6">
                        <input type="tel" class="tenantPhone" name="tenantDTOList[0].phone" placeholder="ex) 010-1234-5678" required pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}"  maxlength="13" style="margin-left:20px;background:#F6F6F6">
                        <input type="checkbox" name="tenantDTOList[0].isContractor" th:value=true style="height:fit-content;margin-left:20px;background:#F6F6F6" checked onClick="return false">
                        <input type="hidden" name="tenantDTOList[0].livingType" th:value="20">
                        <span style="margin-left:5px">세대주</span>
                    </div>
                    <button type="button" class="addBtn" id="tenantAddBtn" style="margin-left:15px">+입주자 추가</button>
                </div>
                <div class="tenantAddSection"></div>
                <div style="font-size:10px;margin-top:10px">* 세대주 체크는 필수 입력사항 입니다.</div>
            </div>


            <div class="info">
                <div class="subTitle">보증금/월세/관리비</div>
                <div style="display: flex">
                    <div style="flex:2">
                        <label for="deposit">보증금</label>
                        <div style="margin-top:10px">
                            <input type="number" name="deposit" required value="1000" id="deposit" class="check" style="width:20%;height:30px;border:none;background:#F6F6F6;padding-left:10px">
                            <span style="margin-left:5px">만원</span>
                        </div>
                    </div>
                </div>
                <div style="display:flex;margin-top:20px">
                    <div style="display:flex; flex:2">
                        <div style="flex:1;width:100%">
                            <label for="rentfee">월세</label>
                            <div style="margin-top:10px">
                                <input type="number" name="rentFee" required value="30" id="rentfee" class="check" style="width:20%;height:30px;border:none;background:#F6F6F6;padding-left:10px">
                                <span style="margin-left:5px">만원</span>
                            </div>
                        </div>
                        <div style="flex:2;width:100%">
                            <label for="managementfees">관리비</label>
                            <div style="margin-top:10px">
                                <input type="number" name="managementFees" required value="5" id="managementfees" class="check" style="width:20%;height:30px;border:none;background:#F6F6F6;padding-left:10px">
                                <span style="margin-left:5px">만원</span>
                            </div>
                        </div>
                    </div>
                    <div style="flex:1;width:100%">
                        <label for="paymentday">납부일</label>
                        <div style="margin-top:10px">
                            매달<input type="number" name="paymentDay" required value="1" id="paymentday" class="check"
                                     style="width:20%;height:30px;margin:0 4px 0 10px;border:none;background:#F6F6F6;padding-left:10px">일
                        </div>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="subTitle">계약 종류</div>
                <div class="contractType">
                    <input type="radio" name="contractTypeRowid" id="10" th:value=10 checked><label for="10">전세</label>
                    <input type="radio" name="contractTypeRowid" id="20" th:value=20><label for="20">반전세</label>
                    <input type="radio" name="contractTypeRowid" id="30" th:value=30><label for="30">월세</label>
                </div>
            </div>

            <div class="info">
                <div class="subTitle">옵션</div>
                <div style="display:flex;align-items:center;margin-top:10px">
                    <input type="text" name="optionDTO.optionList[0]" placeholder="옵션" style="width:200px;background:#F6F6F6">
                    <button type="button" class="addBtn" id="optionAddBtn" style="margin-left:20px">+옵션 추가</button>
                </div>
                <div class="optionAddSection"></div>
            </div>

            <div style="margin:30px 0 40px 0;float:right">
                <input type="hidden" name="unitRowid" th:value="${result.unitRowid}">
                <button type="button" onclick="history.back()" class="cancelBtn">취소</button>
                <button class="registerBtn">등록</button>
            </div>
        </form>
    </th:block>
</th:block>

<script th:inline="javascript">
    const offset = new Date().getTimezoneOffset() * 60000;
    const date = new Date(Date.now() - offset);
    $("input[name=startdate]").attr('value', date.toISOString().substring(0, 10))
    date.setFullYear(date.getFullYear()+2)
    $("input[name=enddate]").attr('value', date.toISOString().substring(0, 10))

    function submitValiCheck() {
        let checkFlag = true
        let checkDate = $("input[name=startdate]").val() < $("input[name=enddate]").val();
        if(!checkDate) {
            alert("시작일은 만료일 이전이어야 합니다.")
            return false;
        }

        //TODO 폰번호 뿐만 아니라 이름도 보내야함!!
        //phone 체크 (중복값이 있는지 확인)
        //일단 초급코드로 구현 해놓음.....
        let titleList = [];
        let phoneList = [];
        $(".tenantTitle").each(function() {
            titleList.push($(this).val());
        })
        $(".tenantPhone").each(function() {
            phoneList.push($(this).val());
        })

        $.ajax({
            type: "POST",
            url: "/contract/phoneValiCheck",
            async: false,
            data: {
                titleList : titleList,
                phoneList : phoneList
            },
            success:function (data) {
                console.log("data : " + data)
                if(data==="") {
                    // if(check){$("form").submit();}
                    checkFlag = true;
                }
                else {
                    alert("이미 사용하고 있는 번호입니다. Phone :  " +data)
                    //비동기식이라 여기서 최종 판정을 내야함 (여기가 마지막 구간 -> 최종 리턴 구간)
                    checkFlag = false;
                }
            }, error :function(e) {
                console.log(e);
            }
        })
        return checkFlag;
    } //end func valiCheck


    let tenantCnt = 0
    let optionCnt = 0
    let optionList = []
    let tenantList = []
    let optionBackupList = []
    let tenantTitleBackupList = []
    let tenantPhoneBackupList = []
    function updateOption(str) {
        $(".option").each(function() {
            optionBackupList[$(this).attr('id')] = $(this).val();
        })
        $(".optionAddSection").html(str)
        // 백업한 값들을 다시 넣어준다.
        $(".option").each(function() {
            $(this).val(optionBackupList[$(this).attr('id')]);
        })
        optionBackupList = [] // 혹시 모르니까 초기화
    }
    function removeOption(cnt) {
        let str = $(".optionAddSection").html()
        updateOption(str.replace(optionList[cnt], ''))
    }
    $("#optionAddBtn").on("click", function () {
        optionCnt++
        let str = $(".optionAddSection").html()
        let temp =
            `<div style="display:flex;align-items:center;margin-top:10px">
                <input type="text" name="optionDTO.optionList[${optionCnt}]" class="option" id="${optionCnt}" placeholder="옵션" style="width:200px;background:#F6F6F6">
                <button type="button" onclick="removeOption(${optionCnt})" style="margin-left:20px">X</button>
            </div>`
        optionList[optionCnt] = temp
        str += temp
        updateOption(str)
    })


    function updateTenant(str) {
        $(".tenantTitle").each(function() {
            tenantTitleBackupList[$(this).attr('id')] = $(this).val();
        })
        $(".tenantPhone").each(function() {
            tenantPhoneBackupList[$(this).attr('id')] = $(this).val();
        })
        $(".tenantAddSection").html(str)
        // 백업한 값들을 다시 넣어준다.
        $(".tenantTitle").each(function() {
            $(this).val(tenantTitleBackupList[$(this).attr('id')]);
        })
        $(".tenantPhone").each(function() {
            $(this).val(tenantPhoneBackupList[$(this).attr('id')]);
        })
        tenantTitleBackupList = [] // 혹시 모르니까 초기화
        tenantPhoneBackupList = []
    }
    function removeTenant(cnt) {
        let str = $(".tenantAddSection").html()
        updateTenant(str.replace(tenantList[cnt], ''))
    }
    $("#tenantAddBtn").on("click", function () {
        tenantCnt++
        let str = $(".tenantAddSection").html()
        let temp =
            `<div style="width:82%;display:flex;align-items:center;margin-top:10px">
                <input type="text" name="tenantDTOList[${tenantCnt}].title" class="tenantTitle" id="${tenantCnt}" placeholder="이름 또는 별명 입력" required="required" style="background:#F6F6F6">
                <input type="tel" name="tenantDTOList[${tenantCnt}].phone" class="tenantPhone" id="${tenantCnt}" placeholder="ex) 010-1234-5678" required="required" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" maxlength="13" style="margin-left:20px;background:#F6F6F6">
                <button type="button" onclick="removeTenant(${tenantCnt})" style="margin-left:20px">X</button>
                <input type="hidden" name="tenantDTOList[${tenantCnt}].isContractor" value="false">
                <input type="hidden" name="tenantDTOList[${tenantCnt}].livingType" value="20">
            </div>`
        tenantList[tenantCnt] = temp
        str += temp
        updateTenant(str)
    })
</script>
</body>
</html>